---

aws_security_group_name:          "{{ internal_sg }}"
aws_ssh_key:                      "ansible"
aws_instance_type:                "t2.micro"
#aws_ami:                          "{{ template_ami }}"

named_log_folder:                 "/var/log/named"
named_slave_folder:               "{{ dns_config_folder }}/slave_zones"

log_channels:
  - default
  - general
  - database
  - delegation-only
  - security
  - config
  - resolver
  - xfer-in
  - xfer-out
  - notify
  - client
  - unmatched
  - network
  - update
  - update-security
  - dispatch
  - dnssec
  - lame-servers
  - rpz
  - rate-limit
  - query-errors
#  - zoneload
#  - edns-disabled
#  - cname
# Don't need to log all queries
#  - queries

test_domains:
  # Fixed IP addresses
  - { domain: "central-dns01.global.corp", address: "10.0.10.100" }
  - { domain: "alpha-dns01.global.corp", address: "10.0.20.100" }
  - { domain: "beta-dns02.global.corp", address: "10.0.30.101" }
  - { domain: "gamma-api.global.corp", address: "10.0.40.25" }
  - { domain: "delta-api.global.corp", address: "10.0.50.25" }
  # Non-fixed
  - { domain: "{{ central_dns_hostname }}", address: "{{ central_dns_ip }}" }
  - { domain: "{{ api_server_hostname }}", address: "{{ api_server_ip }}" }
  # Authoritative domains
  - { domain: "api.corp", address: "{{ api_server_ip }}" }
  - { domain: "db.corp", address: "{{ api_server_ip }}" }
  - { domain: "media.corp", address: "{{ api_server_ip }}" }
