---

aws_security_group_name:          "{{ internal_sg }}"
aws_ssh_key:                      "ansible"
aws_instance_type:                "t2.micro"

named_log_folder:                 "/var/log/named"
named_slave_folder:               "{{ dns_config_folder }}/slave_zones"

log_channels:
  - default
  - general
  - database
  - delegation-only
  - security
  - config
  - resolver
  - xfer-in
  - xfer-out
  - notify
  - client
  - unmatched
  - network
  - update
  - update-security
  - dispatch
  - dnssec
  - lame-servers
  - rpz
  - rate-limit
  - query-errors
# Don't need to log all queries
#  - queries