---

aws_security_group_name:          "{{ internal_sg }}"
aws_ssh_key:                      "{{ ssh_key_name }}"
aws_instance_type:                "t2.micro"

named_log_folder:                 "/var/log/named"
named_slave_folder:               "{{ dns_config_folder }}/slave_zones"

log_channels:
  - default
  - general
  - database
  - delegation-only
  - security
  - config
  - resolver
  - xfer-in
  - xfer-out
  - notify
  - client
  - unmatched
  - network
  - update
  - update-security
  - dispatch
  - dnssec
  - lame-servers
  - rpz
  - rate-limit
  - query-errors
# Don't need to log all queries
#  - queries

test_domains:
  # Fixed IP addresses
  - { domain: "central-dns01.global.corp", address: "10.0.10.50" }
  - { domain: "alpha-dns01.global.corp", address: "10.0.20.50" }
  - { domain: "beta-dns02.global.corp", address: "10.0.30.51" }
  - { domain: "gamma-api.global.corp", address: "10.0.40.20" }
  - { domain: "delta-api.global.corp", address: "10.0.50.20" }
  # Non-fixed
  - { domain: "{{ central_dns_hostname }}", address: "{{ central_dns_ip }}" }
  - { domain: "{{ api_server_hostname }}", address: "{{ api_server_ip }}" }
  # Authoritative domains
  - { domain: "api.corp", address: "{{ api_server_ip }}" }
  - { domain: "db.corp", address: "{{ api_server_ip }}" }
  - { domain: "media.corp", address: "{{ api_server_ip }}" }
