---

- name: Set hostname temporarily
  shell: "hostname {{ inventory_hostname }}"
  listen: "Temporary hostname setup"

- name: Restart rsyslog
  service:
    name: rsyslog
    state: restarted
  listen: "Temporary hostname setup"