---

- name: Install various required packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - bind9
    - bind9utils
    - dnsutils
#    - bind9-host
  tags:
    - skip_ansible_lint

- name: Modify resolv.conf generation process
  copy:
    src: "resolvconf_head"
    dest: "/etc/resolvconf/resolv.conf.d/head"
    owner: root
    group: root
    mode: "0644"

- name: Deploy static config files
  copy:
    src: "{{ item }}"
    dest: "/etc/bind/{{ item }}"
    owner: root
    group: bind
    mode: "0644"
  with_items:
    - db.corp
    - db.global.corp
    - named.conf.local
    - named.conf.options

- name: Check bind config
  command: "named-checkconf /etc/bind/named.conf"

- name: Check bind config
  command: "named-checkzone {{ item }} /etc/bind/db.{{ item }}"
  with_items:
    - "corp"
    - "global.corp"

- name: Restart bind
  service:
    name: bind9
    state: restarted

- name: Basic check of local domain
  command: "nslookup api.corp 127.0.0.1"

- name: Basic check of global domain
  command: "nslookup api.global.corp 127.0.0.1"
