---

- name: Make sure SSH folder exists
  file:
    path: "{{ ssh_config_folder }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
#    mode: ""


- name: Deploy SSH config file
  template:
    src: ssh_config.j2
    dest: "{{ ssh_config_folder }}/config"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"