---

- name: Make sure SSH folder exists
  file:
    path: "{{ ssh_config_folder }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
#    mode: ""

- name: Deploy SSH config file
  template:
    src: ssh_config.j2
    dest: "{{ ssh_config_folder }}/config"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Ensure SSH key permissions are correct
  file:
    path: "/home/ubuntu/.ssh/{{ item }}"
    state: touch
    owner: ubuntu
    group: ubuntu
    mode: "0400"
  with_items:
    - ansible.pem
    - human.pem
  register: ssh_keys
  ignore_errors: true

- name: Fail helpfully if problem with SSH keys
  fail:
    msg: "Problem with SSH key files. Did you copy over the required keys to the bastion host?"
  when: ssh_keys is failed

- name: Install various AWS dependencies
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - awscli

- name: Install various AWS dependencies
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
    - boto
    - boto3

- name: Make sure ansible config folder exists
  file:
    path: "/etc/ansible"
    state: directory

- name: Fetch and install EC2 dynamic inventory script
  get_url:
    url: "https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py"
    dest: "/etc/ansible/hosts"
    mode: "755"

- name: Modify resolv.conf generation process to include central DNS server
  template:
    src: "resolvconf_head"
    dest: "/etc/resolvconf/resolv.conf.d/head"
    owner: root
    group: root
    mode: "0644"

- name: Force rebuild of resolv.conf
  command: "resolvconf -u"