---

- name: Make sure SSH folder exists
  file:
    path: "{{ ssh_config_folder }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
#    mode: ""

- name: Deploy SSH config file
  template:
    src: ssh_config.j2
    dest: "{{ ssh_config_folder }}/config"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Ensure SSH key permissions are correct
  file:
    path: "/home/ubuntu/.ssh/{{ ssh_key_name }}.pem"
    state: file
    owner: ubuntu
    group: ubuntu
    mode: "0400"

- name: Install various AWS dependencies
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
      - awscli
  tags:
    - skip_ansible_lint

- name: Install various AWS dependencies & other useful Python packages
  pip:
    name: "{{ item }}"
    state: latest
  vars:
    packages:
      - boto
      - boto3
      - ansible-lint
  tags:
    - skip_ansible_lint

- name: Make sure ansible config folder exists
  file:
    path: "/etc/ansible"
    state: directory

- name: Fetch and install EC2 dynamic inventory script
  get_url:
    url: "https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.py"
    dest: "/etc/ansible/hosts"
    mode: "755"

- name: Deploy Ansible config file
  template:
    src: ansible.cfg.j2
    dest: "/etc/ansible/ansible.cfg"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Install various other useful things
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
    - ansible-lint
  tags:
    - skip_ansible_lint

- name: Modify resolv.conf generation process to include central DNS server
  template:
    src: "resolvconf_head"
    dest: "/etc/resolvconf/resolv.conf.d/head"
    owner: root
    group: root
    mode: "0644"

- name: Force rebuild of resolv.conf
  command: "resolvconf -u"