---
- name: Ensure DNS servers have Ansible prereqs
  hosts: dns_servers
  become: yes
  gather_facts: no
  roles:
    - ansible-requirements

- name: Configure DNS servers
  hosts: dns_servers
  become: yes
  gather_facts: yes
  roles:
    - standard
    - user-friendly
    - motd-warning
    - no-apparmor
    - dns-server
#    - dns-server-tests