---

# Always want the latest versions of everything installed
- name: Update all packages to latest
  apt:
    upgrade: dist
    update_cache: yes
  tags:
    - skip_ansible_lint

- name: Remove any outdated packages
  apt:
    autoremove: yes

- name: Determine if reboot notifier is present
  stat:
    path: /var/run/reboot-required
  register: reboot_notifier

- name: Reboot if necessary
  command: "shutdown -r +1 'Rebooting...'"
  when: reboot_notifier.stat.exists

- name: Wait for system to start up after reboot
  wait_for_connection:
    delay: 60
    sleep: 10
  when: reboot_notifier.stat.exists

- name: Install bind and other required packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
  - bind9
  - bind9utils
  - bind9-doc
  tags:
    - skip_ansible_lint

- name: Make sure log folder exists
  file:
    path: "{{ named_log_folder }}"
    state: directory
    owner: bind
    group: bind
    mode: "0755"

- name: Make sure slave zone folder exists
  file:
    path: "{{ named_slave_folder  }}"
    state: directory
    owner: bind
    group: bind
    mode: "0755"
  when: not is_isolated

- name: Deploy bind config files
  template:
    src: "{{ item }}.j2"
    dest: "{{ dns_config_folder }}/{{ item }}"
    owner: "{{ dns_config_user }}"
    group: "{{ dns_config_group }}"
    mode: 0644
  with_items:
    - named.conf
    - named.conf.local
    - named.conf.options
    - named.conf.logging

- name: Check config file
  command: "named-checkconf {{ dns_config_folder }}/named.conf"

- name: Deploy zone files
  template:
    src: db.corp.j2
    dest: "{{ dns_config_folder }}/db.corp"

- name: Check local zone file
  command: "named-checkzone corp {{ dns_config_folder }}/db.corp"

- name: Deploy hard-coded zone files (isolated only)
  template:
    src: "db.{{ item }}.j2"
    dest: "{{ dns_config_folder }}/db.{{ item }}"
  with_items:
    - local.corp
  when: not is_isolated

- name: Check hard-coded zone files (isolated only)
  command: "named-checkzone {{ item }} {{ dns_config_folder }}/db.{{ item }}"
  with_items:
    - local.corp
  when: not is_isolated

- name: Restart bind
  service:
    name: bind9
    state: restarted

- name: Force immediate update of zones from master
  command: "rndc reload {{ item }}"
  with_items:
    - "global.corp"
  when: not is_isolated

# Needed for on-prem Ubuntu-based templates, but
#   may not needed for AWS
- include_tasks: firewall.yml

- name: Modify resolv.conf generation process to include localhost
  copy:
    src: "resolvconf_head"
    dest: "/etc/resolvconf/resolv.conf.d/head"
    owner: root
    group: root
    mode: "0644"
  notify: Rebuild resolvconf

- name: Basic test of one local domain
  command: nslookup api.corp 127.0.0.1

- name: Basic test of one global domain
  command: nslookup api.global.corp 127.0.0.1

