---

# Always want the latest versions of everything installed
- name: Update all packages to latest
  apt:
    upgrade: dist

- name: Install bind and other required packages
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - bind9
    - bind9utils
    - bind9-doc

- name: Deploy bind config files
  template:
    src: "{{ item }}.j2"
    dest: "{{ dns_config_folder }}/{{ item }}"
    owner: "{{ dns_config_user }}"
    group: "{{ dns_config_group }}"
    mode: 0644
  with_items:
    - named.conf
    - named.conf.local
    - named.conf.options

- name: Check config file
  command: "named-checkconf {{ dns_config_folder }}/named.conf"

- name: Deploy zone files
  template:
    src: db.corp.j2
    dest: "{{ dns_config_folder }}/db.corp"

- name: Check local zone file
  command: "named-checkzone corp {{ dns_config_folder }}/db.corp"

- name: Restart bind
  service:
    name: bind9
    state: restarted

#- name: Pause to allow server to pull zone file from central DNS server
#  pause:
#    seconds: 30

# Needed for on-prem Ubuntu-based templates, but
#   may not needed for AWS

#- include_tasks: firewall.yml

- name: Modify resolv.conf generation process to include localhost
  copy:
    src: "resolvconf_head"
    dest: "/etc/resolvconf/resolv.conf.d/head"
    owner: root
    group: root
    mode: "0644"

- name: Basic test of one local domain
  command: nslookup api.corp 127.0.0.1

- name: Basic test of one global domain
  command: nslookup api.global.corp 127.0.0.1

