{{ warning_message_slash }}

// General bind options
include "/etc/bind/named.conf.options";

// Zone details
include "/etc/bind/named.conf.local";

// Default zones
include "/etc/bind/named.conf.default-zones";

// Logging setup
include "/etc/bind/named.conf.logging";