---

- name: Install various useful packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - tree
    - nmap
    - ncdu
  tags:
    - skip_ansible_list

- name: Add basic config files for Ansible user
  become: no
  copy:
    src: "{{ item }}"
    dest: "~/{{ item }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0644
  with_items:
    - ".bashrc"
    - ".profile"
    - ".vimrc"