---

- name: Get subnet ID
  local_action: ec2_vpc_subnet_facts
  args:
    filters:
      "tag:Name": "{{ aws_subnet_name }}"
  register: subnet_facts

- name: Ensure host exists
  local_action: ec2
  args:
    instance_type: "{{ aws_instance_type }}"
    image: "{{ aws_ami }}"
    region: "{{ aws_region }}"
    vpc_subnet_id: "{{ aws_subnet_id }}"
    group: "{{ aws_security_group_name }}"
    key_name: "{{ aws_ssh_key }}"
    instance_tags:
      Name: "{{ aws_name_tag }}"
    assign_public_ip: no
    private_ip: "{{ private_ip_address }}"
    exact_count: 1
    count_tag:
      Name: "{{ aws_name_tag }}"
    wait: yes
  register: ec2