---

- name: Ensure host exists
  local_action: ec2
  args:
    instance_type: "{{ aws_instance_type }}"
    image: "{{ aws_ami }}"
    region: "{{ aws_region }}"
    vpc_subnet_id: "{{ central_subnet_id }}"
    group: "{{ aws_security_group_name }}"
    key_name: "{{ aws_ssh_key }}"
    instance_tags:
      Name: "{{ aws_name_tag }}"
    assign_public_ip: no
    private_ip: "{{ template_ip }}"
    exact_count: 1
    count_tag:
      Name: "{{ aws_name_tag }}"
    wait: yes
    register: ec2